.boxContainer{
  display: flex;
  overflow-x: scroll;
  text-align: center;
  margin: 100px 10px 10px 10px;
  border: solid black;
  height: 30vh;
}

.boxContainer::-webkit-scrollbar{
  display: none;
}